textarea {
  resize: none;
  height: 100px;
  width: 95%;
  margin-bottom : 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35vw;
  border: 1px solid black;
}

input {
  height: 40px;
  margin: 0 0 10px 0;
  width: 95%;
}

.form-message {
  font-size: 40px;
}

.form-button {
  width: 80px;
  margin-bottom : 10px;
}