.nav-container {
  display: flex;
  justify-content: space-between;
  height: 100px;
  max-width: 100vw;
  padding: 0 50px 0 25px;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #162642;
}

.nav-name{
  font-size: 45px;
  margin-bottom: 5px;
  color: #fafbfc;
}
.nav-title {
  font-size: 25px;
  color: #fafbfc;
}

.nav-links-container {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  font-size: 25px;
  color: #fafbfc;
}

footer {
  /* position: sticky;
  bottom: 0;
  left: 0; */
  border-top: 1px solid black;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  z-index: 3;
  background: rgb(34,39,51);
  background: linear-gradient(0deg, rgba(34,39,51,1) 0%, rgba(40,50,62,1) 50%);
}

a {
  text-decoration: none;
  margin: 50px;
  font-size: 25px;
  color: #fafbfc;
}

.layout-children {
  margin: 0 0 25px 0;
  max-width: 100vw;
}