.project-image {
 height: 60vh;
 overflow: hidden;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height:90vh;
}
.carousel-container {
  height: 60vh;
  max-width: 100vw;
  display: grid;
  grid-template-areas: 
  "P T T"
  "P S S"
  "P L L"
  "P D D"
  "P B B";
}

.multi-images-project {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  grid-area: P;
  overflow: hidden;
}

.project-title {
  grid-area: T;
  font-size: 40px;
  height: 8vh;
  display: flex;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* justify-content: center; */
  /* width: 38vw; */
}

.project-info {
  grid-area: S;
  height: 10vh;
  display: flex;
  /* justify-content: center; */
  font-size: 18px;
  font-weight: 600;
  padding-left: 10px;
  width: 37vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-links {
  height: 8vh;
  grid-area: L;
  display: flex;
  justify-content: space-between;
  width: 20vw;
  min-width: 350px;
  padding-left: 10px;
}

.project-link {
  font-size: 20px;
  width: 115px;
  height: 40px;
  background-color: #9900FF  ;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  filter: drop-shadow(0 0 1px grey);
}

.project-link:hover {
  transform: scale(1.03);
  box-shadow:  0 0 2px grey;
  transition: .1s;
  background-color: #7e02d1  ;
}

.project-caption {
  grid-area: D;
  height: 25vh;
  display: flex;
  /* justify-content: center; */
  font-size: 25px;
  width: 37vw;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.project-buttons {
  grid-area: B;
  display: flex;
  justify-content: space-between;
  width: 20vw;
  padding-left: 10px;
  min-width: 350px;
}
.next-button {
  font-size: 20px;
  width: 115px;
  height: 40px;
  background-color: #0099ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  filter: drop-shadow(0 0 1px grey);
 
}

.next-button:hover {
  transform: scale(1.03);
  box-shadow:  0 0 2px grey;
  transition: .1s;
  cursor: pointer;
  background-color: #0084dc;
}

.back-button {
  font-size: 20px;
  width: 115px;;
  height: 40px;
  background-color: #0099ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  filter: drop-shadow(0 0 1px grey);
}

.back-button:hover {
  transform: scale(1.03);
  box-shadow:  0 0 2px grey;
  transition: .1s;
  cursor: pointer;
  background-color: #0084dc;
}

.fade-enter{
  opacity: 0;
  transform: translateX(-100%);
}
.fade-exit{
  opacity: 1;
  transform: translateX(0%);
}
.fade-enter-active{
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active{
  opacity: 0;
  transform: translateX(100%);
}
.fade-enter-active,
.fade-exit-active{
  transition: opacity 350ms, transform 350ms;
}

.fades-enter{
  opacity: 0;
  transform: translateX(100%);
}
.fades-exit{
  opacity: 1;
  transform: translateX(0%);
}
.fades-enter-active{
  opacity: 1;
  transform: translateX(0%);
}
.fades-exit-active{
  opacity: 0;
  transform: translateX(-100%);
}
.fades-enter-active,
.fades-exit-active{
  transition: opacity 350ms, transform 350ms;
}